@media screen and (min-width: 501px){
    .slide2, .slide3{
        visibility: hidden;

    }
}@media screen and (max-width: 500px) {
    .card:not(:first-child){
        display: none;
    }
    .membershipImg{
        margin-left: 14%;
    }
    .features h2,p{
        text-align: center;
    }
} 